@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 100% 97.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 100% 97.1%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 100% 97.1%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 25% 95.1%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 150 100% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 235 24% 12%;
    --foreground: 0 0% 98%;
    --card: 235 24% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 235 24% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 35%;
    --primary-foreground: 180 100% 97%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 150 100% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 180 100% 35%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
